@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;1,700&display=swap');

*{
    font-family: 'Ubuntu Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://get.wallhere.com/photo/vehicle-airplane-aircraft-science-fiction-military-aircraft-air-force-Flight-aviation-screenshot-atmosphere-of-earth-fighter-aircraft-aircraft-engine-60354.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
h1{
    font-size: 5rem;
    color: aliceblue;
}

a{
    cursor: pointer;
    text-decoration: underline;
}
.container{
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(173, 214, 255, 0.638) 0px 5px 100px -20px, rgba(165,165,165, 0.637) 0px 30px 60px -30px, rgba(173, 214, 255, 0.638) 0px 5px 100px 20px, rgba(173, 214, 255, 0.638) 0px 5px 100px -20px;
}
.container .score-container{
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 20px;
}
.container .menu{
    position: absolute;
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.container .menu .button{
    background-color: #0F3057;
    color: white;
    font-size: 25px;
    padding: 8px 30px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: padding 0.5s ease;
}
.container .menu .button:hover{
    padding: 8px 40px;
}
.container .instruction{
    position: absolute;
    width: 95%;
    display: flex;
    bottom: 0.5rem;
    justify-content: space-between;
}

@media screen and (max-width: 560px){
    h1{
        text-align: center;
        font-size: 4rem;
        line-height: 3rem;
        letter-spacing: -2px;
        margin-bottom: 1rem;
    }
    .container .instruction{
        justify-content: center;
    }
    .container .instruction span{
        display: none;
    }


}